files:
  "/etc/grafana/grafana.ini":
    content: |
      [server]
      http_port = 3001

      [database]
      type = postgres
      name = metabase
      user = metabase

  "/etc/logrotate.d/grafana":
    content: |
      /var/log/grafana/grafana.log {
        copytruncate
        daily
        compress
        missingok
        notifempty
      }

  "/etc/httpd/conf.d/grafana.conf":
    content: |
      <VirtualHost *:80>
        ServerName        grafana.safecast.cc
        ProxyPreserveHost On
        ProxyPass         "/" "http://localhost:3001/"
        ProxyPassReverse  "/" "http://localhost:3001/"
      </VirtualHost>

container_commands:
  install_grafana:
    command: ./scripts/install_grafana.sh
