files:
  "/etc/sysconfig/grafana-server":
    content: |
      GRAFANA_USER=grafana
      GRAFANA_GROUP=grafana
      GRAFANA_HOME=/usr/share/grafana
      LOG_DIR=/var/log/grafana
      DATA_DIR=/var/lib/grafana
      MAX_OPEN_FILES=10000
      CONF_DIR=/etc/grafana
      CONF_FILE=/etc/grafana/grafana.ini
      RESTART_ON_UPGRADE=true
      PLUGINS_DIR=/var/lib/grafana/plugins
      PID_FILE_DIR=/var/run/grafana
      source /opt/elasticbeanstalk/support/envvars

  "/etc/grafana/grafana.ini":
    content: |
      [server]
      http_port = 3001
      root_url = https://grafana.safecast.cc

      [database]
      type = postgres
      name = metabase
      user = metabase

      [auth.anonymous]
      enabled = true
      org_name = Safecast

      [auth.github]
      enabled = true
      client_id = bb421b6853a659296e0f
      scopes = user:email,read:org
      auth_url = https://github.com/login/oauth/authorize
      token_url = https://github.com/login/oauth/access_token
      allow_sign_up = true
      allowed_organizations = Safecast

      [external_image_storage]
      provider = s3

      [external_image_storage.s3]
      bucket = safecastdata-us-west-2
      path = grafana
      bucket_url = https://safecastdata-us-west-2.s3-us-west-2.amazonaws.com

  "/etc/logrotate.d/grafana":
    content: |
      /var/log/grafana/grafana.log {
        copytruncate
        daily
        compress
        missingok
        notifempty
      }

  "/etc/httpd/conf.d/grafana.conf":
    content: |
      <VirtualHost *:80>
        ServerName        grafana.safecast.cc
        ProxyPreserveHost On
        ProxyPass         "/" "http://localhost:3001/"
        ProxyPassReverse  "/" "http://localhost:3001/"
      </VirtualHost>

container_commands:
  install_grafana:
    command: ./scripts/install_grafana.sh
