packages:
  yum:
    mod24_ssl: []

files:
  "/etc/httpd/conf.d/kibana.conf":
    content: |
      <VirtualHost *:80>
        ServerName        kibana.safecast.cc

        RequestHeader set Authorization: "Basic %{KIBANA_BASIC_AUTH}e" env=KIBANA_BASIC_AUTH

        SSLProxyEngine on

        ProxyPass         "/" "https://5bc3d4f7330a4459881197a85659caf5.us-west-2.aws.found.io:9243/"
        ProxyPassReverse  "/" "https://5bc3d4f7330a4459881197a85659caf5.us-west-2.aws.found.io:9243/"
      </VirtualHost>
